@use '/src/App.scss' as style;

.stack_card {
    padding: 10px 21.5px;
    border-radius: 5px;
}

@media screen and (max-width: 320px) {
    .stack_card {
        padding: 10px 17.5px;
        font-size: style.$text_s;
    }
}