@use '../../../../App.scss' as *;

*{
    box-sizing: border-box;
}
.header {
    width: 100%;
    align-items: center;
    padding: 25px;
    .header__container{
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        max-width: 1560px;
    }
}

.info,
.contacts {
    display: flex;
    align-items: center;
    gap: 64px;
}
.info{
    gap: 48px;
}
.contact { 
    font-size: $text_xl;
}
@media screen and (max-width: 320px) {
    .header {
        padding: 16px 24px;
    }
    .logo {
        width: 52px;
        height: 22px;
    }
    
    .contact {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}