.table {
    position: relative;
    max-width: 1584px;
    min-width: 450px;
    margin: auto;
}

.grid__header {
    display: grid;
    grid-template-columns: 45% 25% 20.3% 9.7%;
    text-align: left;
    margin-top: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

.custom_scroll::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 320px) {
    .grid__header {
        min-width: 450px;
        padding-right: 0;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .custom_scroll {
        position: relative;
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        height: 100vh;
    }
}