.loader {
    width: 10%;
    margin: 100px auto;
}
@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

.loader_path {
    fill: none;
    stroke: rgba(21, 93, 164, 1);
    stroke-width: 3px;
    stroke-linecap: round;
    animation: animate-stroke 1.5s ease-in-out infinite;
}
