$text_xs: 10px;
$text_s: 12px;
$text_m: 14px;
$text_l: 16px;
$text_xl: 18px;
$text_xxl: 20px;

$color__primary: rgba(21, 93, 164, 1);

$color__total_white: rgba(255, 255, 255, 1);
$color__90_white: rgba(245, 245, 245, 1);
$color__80_white: rgba(242, 242, 242, 1);

$color__graphite_black: rgba(41, 41, 41, 1);
$color__gray: rgba(62, 62, 62, 1);
$color__gray_light: rgba(176, 176, 176, 1);


#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a{
  text-decoration: none;
  color: $color__graphite_black;
}

.stack_card {
  padding: 10px 21.5px;
  border-radius: 5px;
}

.dark {
  width: 100%;
  background-color: $color__graphite_black;
  color: $color__90_white;
  transition: background-color 0.5s ease, color 0.5s ease; 

  .header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .stack_card_theme {
    background-color: $color__gray !important;
    color: $color__90_white !important;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .grid__header {
    color: $color__gray_light !important;
  }
  .employee_item_content {
    color: $color__90_white;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: $color__gray;
    }
  }
  .employee_item_container {
    &:hover {
      background-color: $color__gray;
    }
  }

  .selectors {
    background-color: $color__graphite_black;
    color: $color__90_white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .picked_filters__container {
    background-color: $color__gray;
    transition: background-color 0.5s ease;
  }

  .filter_card__container {
    background-color: $color__graphite_black;
    transition: background-color 0.5s ease;

    .cross {
      background-color: $color__90_white;
      transition: background-color 0.5s ease;
    }
  }
}

.light {
  background-color: $color__total_white;
  transition: background-color 0.5s ease, color 0.5s ease;
  .grid__header {
    color: $color__gray_light !important;
  }
  .details {
    color: $color__graphite_black;
  }
  .header {
    box-shadow: 0px 4px 8px 0px rgba(57, 113, 164, 0.25);
  }
  .stack_card_theme {
    background-color: $color__80_white;
    color: $color__graphite_black;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .picked_filters__container {
    background-color: $color__80_white;
    transition: background-color 0.5s ease;
  }

  .filter_card__container{
    background-color: $color__total_white;
    transition: background-color 0.5s ease;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 52px;
    height: 22px;
  }

  .checkbox_wrap{
    height: 22.22px !important;
  }
  .checkbox_wrap .checkbox_mark{
    top: 2.56px;
    left: 2.56px;
    width: 47px !important;
    height: 22.22px !important;
  }
  .checkbox_wrap .checkbox_mark:before{
    width: 17.09px !important;
    height: 17.09px !important;
    border-radius: 50%;
  }
  .checkbox_wrap .checkbox_inp:checked ~ .checkbox_mark:before{
    left: 27.44px !important;
  }

  .contact {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .breadcrumbs {
    gap: 10px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 24px;
  }
  .separator {
    width: 12px !important;
    height: 12px !important;
  }

  .text {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 100%;
  }
  .text_400 {
    font-weight: 400;
  }

  .label {
    font-size: 20px;
    font-weight: 700;
  }

  .input {
    max-height: 34px;
    &::placeholder {
      font-size: 12px;
      line-height: 100%;
      
    }
  }

  .filters {
    padding-left: 24px;
    padding-right: 24px;
    :first-child {
      order: 1;
    }
    :nth-child(2) {
      order: 3;
    }
    :last-child {
      order: 2;
    }
  }

  .accordions {
    gap: 12px !important;
    margin-top: 12px;
    .summary.text::before {
      width: 10px;
      height: 5px;
    }

  }
  .selectors {
    width: 224px !important;
    :last-child {
      margin-bottom: 0 !important;
    }
  }
  .selector__container {
    margin-bottom: 12px !important;
  }

  .table {
    min-width: fit-content;
    //width: 100%;
    overflow-x: auto !important;
  }
  
  .grid__header {
    margin-top: 16px !important;
    font-size: 10px !important;
    padding-left: 24px !important;
  }
  .employee_item_container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .employee_item_content {
    font-size: 12px;
    padding-left: 24px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    .employee_item_container__name {
      max-width: 86px;
    }
    .employee_item_container__position {
      max-width: 75px;
    }
    .employee_item_container__phone{
      max-width: fit-content;
    }
    .employee_item_container__birthdate{
      max-width: 87px;
    }
  }
}