$text_xs: 10px;
$text_s: 12px;
$text_m: 14px;
$text_l: 16px;
$text_xl: 18px;
$text_xxl: 20px;

$color__primary: rgba(21, 93, 164, 1);

$color__total_white: rgba(255, 255, 255, 1);
$color__90_white: rgba(245, 245, 245, 1);
$color__80_white: rgba(242, 242, 242, 1);

$color__graphite_black: rgba(41, 41, 41, 1);
$color__gray: rgba(62, 62, 62, 1);
$color__gray_light: rgba(176, 176, 176, 1);


#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

a {
  text-decoration: none;
  color: $color__graphite_black;
}

.dark {
  width: 100%;
  background-color: $color__graphite_black;
  color: $color__90_white;
  transition: background-color 0.5s ease, color 0.5s ease; 

  .header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .stack_card_theme {
    background-color: $color__gray !important;
    color: $color__90_white !important;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .grid__header {
    color: $color__gray_light !important;
  }
  .employee_item_content {
    color: $color__90_white;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: $color__gray;
    }
  }
  .employee_item_container {
    &:hover {
      background-color: $color__gray;
    }
  }

  .selectors {
    background-color: $color__graphite_black;
    color: $color__90_white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .picked_filters__container {
    background-color: $color__gray;
    transition: background-color 0.5s ease;
  }

  .filter_card__container {
    background-color: $color__graphite_black;
    transition: background-color 0.5s ease;

    .cross {
      background-color: $color__90_white;
      transition: background-color 0.5s ease;
    }
  }
}

.light {
  background-color: $color__total_white;
  transition: background-color 0.5s ease, color 0.5s ease;
  .grid__header {
    color: $color__gray_light !important;
  }
  .details {
    color: $color__graphite_black;
  }
  .header {
    box-shadow: 0px 4px 8px 0px rgba(57, 113, 164, 0.25);
  }
  .stack_card_theme {
    background-color: $color__80_white;
    color: $color__graphite_black;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .picked_filters__container {
    background-color: $color__80_white;
    transition: background-color 0.5s ease;
  }

  .filter_card__container{
    background-color: $color__total_white;
    transition: background-color 0.5s ease;
  }
}